name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Build the docker image
      run: |
        docker build -t ${{ secrets.AZURECR_URL }}/automation/smb-sync-service:latest
    - name: Push the docker image to Azure CR
      run: |
        docker login ${{ secrets.AZURECR_URL }} -u ${{ secrets.AZURECR_USER }} -p ${{ secrets.AZURECR_PASS }}
        docker push ${{ secrets.AZURECR_URL }}/automation/smb-sync-service:latest
    - name: Clear image from local cache    
      run: |
        docker rmi ${{ secrets.AZURECR_URL }}/automation/smb-sync-service:latest